:root{
    --background-color:#252B42;
    --text-secondary-color:#FFFFFF;
    --light-blue-color:#23A6F0;
    --text-primary-color:#737373;
    --fade-light-blue-color:#8EC2F2;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
.main{
    background-color: var(--background-color);
}
.hero-section{
    width: 84%;
    margin-inline: auto;
    padding-top: 23px;
    padding-bottom: 133px;
}
header{
    display: flex;
    flex-direction: column;
    color: var(--text-secondary-color);
}
.header-icons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}
.header-icons>h3{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}
.icons{
    display: flex;
    align-items: center;
    gap: 8px;
}
#openSidebarMenu{
    display: none;
}
#openSidebarMenu:checked~.side-menu{
    display: block;
}
.sidebarIconToggle{
    width: 24px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
    position: relative;
}
.spinner-top{
    width: 24px;
    height: 1px;
    border: 1px solid var(--text-secondary-color);
}
.spinner-middle{
    width: 18px;
    height: 1px;
    border: 1px solid var(--text-secondary-color);
}
.spinner-bottom{
    width: 14px;
    height: 1px;
    border: 1px solid var(--text-secondary-color);
}
.side-menu{
    position: absolute;
    left: 0%;
    top: 20%;
    height: 100vh;
    background-color: var(--background-color);
    width: 100%;
    display: none;
}
.side-menu ul{
    align-items: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.side-menu a{
    text-decoration: none;
    color: var(--text-secondary-color);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
nav{
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 182px; 
    display: none; 
}
nav>ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;  
}
nav a{
    text-decoration: none;
    color: var(--text-secondary-color);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.nav-button{
    display: none;
    gap: 30px;
    align-items: center;
}
.nav-button>a{
    color: var(--text-secondary-color);
    display: block;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.1s ease-in;
}
.nav-button>a:hover{
    background-color: var(--light-blue-color);
}
.nav-button>button{
    border: none;
    background-color: var(--light-blue-color);
    padding: 15px;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    transition: all 0.1s ease-in-out;
}
.nav-button>button:hover{
    background-color: var(--background-color);
    cursor: pointer;
    border: 0.01px solid var(--text-secondary-color);
}
.nav-button>button>a{
    text-decoration: none;
    color: var(--text-secondary-color);
}
.hero-section-text>h1{
    width: 70%;
    margin-inline: auto;
    color: var(--text-secondary-color);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.hero-section-text>p{
    color: var(--text-secondary-color);
    width: 70%;
    margin: 40px 0px;
    margin-inline: auto;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.hero-button{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.hero-button>a{
    display: block;
    width: fit-content;
    padding: 10px 36px;
    margin-inline: auto;
    text-decoration: none;
    color: var(--text-secondary-color);
    border-radius: 37px;
    background-color: var(--background-color);
    border: 1px solid var(--text-secondary-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    transition: all 0.1s ease-in-out;
}
.hero-button>a:hover{
    background-color: var(--light-blue-color);
    border: 1px solid var(--light-blue-color);
}
.hero-button>button{
    display: block;
    width: fit-content;
    padding: 10px 36px;
    margin-inline: auto;
    text-decoration: none;
    color: var(--text-secondary-color);
    border-radius: 37px;
    background-color: transparent;
    border: 1px solid var(--text-secondary-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    transition: all 0.1s ease-in-out;
}
.hero-button>button:hover{
    background-color: var(--light-blue-color);
    border: 1px solid var(--light-blue-color);
    cursor: pointer;
}
.hero-section-image{
    width: 100%;
}
.strategy{
    width: 82%;
    padding-top: 45px;
    margin-inline: auto;
}
.strategy-heading>h2{
    color: var(--text-secondary-color);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}
.strategy-heading>p{
    color: var(--text-secondary-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}
.strategy-content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 45px;
}
.content{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    background-color: var(--text-secondary-color);
    border-radius: 5px;
}
.para>p{
    color: var(--text-primary-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}
.strategy-action{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.strategy-action>a{
    display: block;
    width: fit-content;
    padding: 15px 36px;
    text-decoration: none;
    color: var(--text-secondary-color);
    border-radius: 37px;
    background-color: var(--background-color);
    border: 1px solid var(--text-secondary-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    transition: all 0.1s ease-in-out;
}
.strategy-action>a:hover{
    background-color: var(--light-blue-color);
    border: 1px solid var(--light-blue-color);
}
.strategy-action>button{
    display: block;
    width: fit-content;
    padding: 15px 36px;
    text-decoration: none;
    color: var(--text-secondary-color);
    border-radius: 37px;
    background-color: transparent;
    border: 1px solid var(--text-secondary-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    transition: all 0.1s ease-in-out;
}
.strategy-action>button:hover{
    cursor: pointer;
    background-color: var(--light-blue-color);
    border: 1px solid var(--light-blue-color);
}
.client{
    padding-top: 30px;
    width: 79.7%;
    margin-inline: auto;
}
.client>h2{
    margin-top: 45px;
    color: var(--text-secondary-color);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.client>p{
    color: var(--text-secondary-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    margin-bottom: 60px;
}
.client-desc{
    width: 100%;
    padding: 40px 35px;
    text-align: center;
    background-color: var(--text-secondary-color);
    border: 1px solid var(--text-secondary-color);
    border-radius: 5px;
    margin-bottom: 186.8px;
}
.client-desc>.img{
    margin-inline: auto;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.client-desc>.img>img{
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
}
.client-desc>p{
    color: var(--text-primary-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.star{
    margin: 15px 0px;
}
.client-desc>h2{
    color: var(--background-color);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
}
.client-desc>p{
    color: var(--text-primary-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
}
.faq{
    text-align: center;
    margin-bottom: 100px;
}
.faq>h2{
    margin-top: 45px;
    color: var(--text-secondary-color);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
}
.faq>p{
    color: var(--text-secondary-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    margin-bottom: 45px;
}
.faq-desc{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
.desc{
    padding: 25px;
    border: 1px solid var(--text-secondary-color);
    background-color: var(--text-secondary-color);
    border-radius: 9px;
    display: flex;
    gap: 20px;
}
.faq-cont>h2{
    color: var(--background-color);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}
.faq-cont>p{
    color: var(--text-primary-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}
.pricing{
    padding-top: 30px;
    padding-bottom: 45px;
    width: 79.7%;
    margin-inline: auto;
    margin-bottom: 166px;
}
.pricing>h2{
    color: var(--text-secondary-color);
    margin-top: 45px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.pricing>p{
    color: var(--text-secondary-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    margin-bottom: 60px;
}
.details{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
.price{
    width: 100%;
    background-color: var(--text-secondary-color);
    border: 1px solid var(--text-secondary-color);
    padding: 50px 40px;
    border-radius: 10px;
    transition: all 0.1s ease;
}
.price:hover{
    background-color: var(--light-blue-color);
    border: 1px solid var(--light-blue-color);
    color: var(--text-secondary-color);
}
.price:hover label{
    background-color: #2DC071;
}
.price:hover h2{
    color: var(--text-secondary-color);
}
.price:hover h3{
    color: var(--text-secondary-color);
}
.price:hover p{
    color: var(--text-secondary-color);
}
.price:hover .price-third>button{
    background-color: var(--text-secondary-color);
    cursor: pointer;
}
.price-first{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin-bottom: 35px;
}
.price-first>h2{
    color: var(--background-color);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
}
.price-first>p{
    color: var(--text-primary-color);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
}
.amount{
    width: fit-content;
    display: flex;
    gap: 10px;
    align-items: center;
}
.amount>h2{
    color: var(--light-blue-color);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
}
.amount-details>h3{
    color: var(--light-blue-color);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
}
.amount-details>p{
    color: var(--fade-light-blue-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
}
.price-second{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 35px;
}
.price-list{
    display: flex;
    align-items: center;
    gap: 10px;
}
.price-design>input{
    display: none;
}
.price-design>label{
    border-radius: 50%;
    padding: 10px 10px;
    background-color: #BDBDBD;
}
.price-third>button{
    display: block;
    padding: 15px 40px;
    border-radius: 5px;
    border: 1px solid var(--text-secondary-color);
    background-color: var(--light-blue-color);
    margin-inline: auto;
    transition: all 0.1s ease;
}
.touch{
    display: none;
}
footer{
    width: 58%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 57px;
}
footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer a{
    text-decoration: none;
    color: var(--text-secondary-color);
}
footer h2{
    color: var(--text-secondary-color);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    margin-bottom: 20px;
}
.footer-desc{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer-desc>p{
    color: var(--text-secondary-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}
.footer-image{
    display: flex;
    gap: 20px;
}
.copy-right{
    padding: 25px 0px;
    background-color: var(--text-secondary-color);
}
.copy-right>p{
    width: 58%;
    color: var(--background-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    margin-inline: auto;
}
@media (min-width:768px){
    .hero-section{
        width: 70%;
        margin-inline: auto;
    }
    .strategy{
        width: 70%;
        margin-inline: auto;
    }
    .client{
        width: 70%;
        margin-inline: auto;
    }
    .pricing{
        width: 70%;
        margin-inline: auto;
    }
    .header-icons{
        width: fit-content;
        margin-bottom: 0px;
    }
    .header-icons>h3{
        font-size: 24px;
    }
    .icons{
        display: none;
    }
    header{
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 21px;
    }
    nav{
        margin: 0px;
        width: fit-content;
        display: block;
    }
    nav>ul{
        flex-direction: row;
        gap: 21px;
    }
    nav a{
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.20000000298023224px;
    }
    .hero-section-text{
        margin-top: 173px;
        width: 100%;
    }
    .hero-section-text>h1{
        width: 100%;
        font-size: 58px;
    }
    .hero-section-text>p{
        width: 100%;
        font-size: 20px;
    }
    .strategy-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .strategy-action{
        flex-direction: row;
    }
    .faq-desc{
        grid-template-columns: repeat(2, 1fr);
    }
    .client-desc{
        width: 70%;
        margin-inline: auto;
    }
    .details{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width:992px){
    .hero-section{
        width: 90%;
        margin-inline: auto;
    }
    header{
        width: 90%;
        max-width: 1050px;
        margin-inline: auto;
    }
    .strategy{
        width: 90%;
        max-width: 1050px;
        margin-inline: auto;
        padding-top: 0px;
        margin-top: 95px;
    }
    .touch{
        width: 90%;
        max-width: 1050px;
        margin-inline: auto;
        margin: 80px auto;
        display: flex;
        gap: 225px;
        align-items: center;
    }
    .client{
        width: 90%;
        max-width: 1050px;
        margin-inline: auto;
    }
    .pricing{
        width: 90%;
        max-width: 1050px;
        margin-inline: auto;
        padding: 0px;
        margin-bottom: 112px;
    }
    footer{
        width: 90%;
        max-width: 1050px;
        margin-inline: auto;
    }
    .nav-button{
        display: flex;
    }
    .hero-sec{
        display: flex;
        gap: 20px;
    }
    .hero-section{
        padding-bottom: 0px;
    }
    .hero-section-text{
        width: 45%;
        margin-top: 130px;
    }
    .hero-section-img{
        flex-grow: 1;
    }
    .hero-section-text>h1{
        text-align: left;
        width: 100%;
    }
    .hero-section-text>p{
        width: 100%;
        text-align: left;
        margin-left: 0px;
    }
    .hero-button{
        flex-direction: row;
        gap: 10px;
        width: fit-content;
    }
    .strategy-heading{
        width: 45%;
    }
    .strategy-content{
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .strategy-action{
        gap: 10px;
    }
    .client>p{
        width: 50%;
        margin-inline: auto;
        margin-bottom: 80px;
    }
    .client-desc{
        margin-bottom: 237px;
    }
    .client-desc>p{
        width: 65%;
        margin-inline: auto;
    }
    .faq{
        margin-bottom: 192px;
    }
    .faq>p{
        width: 45%;
        margin-inline: auto;
    }
    .faq-desc{
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .pricing>p{
        width: 45%;
        margin-inline: auto;
    }
    .details{
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .touch-text{
        width: 45%;
    }
    .touch-text>h2{
        color: var(--text-secondary-color);
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 57px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
    }
    .touch-text>p{
        color: var(--text-secondary-color);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
    }
    .touch-input{
        display: flex;
        border: 1px solid var(--text-secondary-color);
        background-color: var(--text-secondary-color);
        border-radius: 5px;
    }
    .touch-input>input{
        padding: 15px 50px 15px 20px;
        border: none;
    }
    .touch-input>input:focus{
        border: 1px solid white;
    }
    .touch-input>button{
        color: var(--text-secondary-color);
        background-color: var(--light-blue-color);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.20000000298023224px;
        text-align: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 0px;
        padding: 15px 22.5px;
    }
    footer{
        grid-template-columns: repeat(4, 1fr);
    }
}
